<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
    <RollingFile name="FileAppender" fileName="${sys:user.home}/.pace/logs/application.log" append="true" filePattern="${sys:user.home}/.pace/logs/application-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="25MB"/>
      </Policies>
      <DefaultRolloverStrategy max="5"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <AsyncRoot level="warn" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
    </AsyncRoot>
    <AsyncLogger name="edu.colorado.cires.pace" level="info" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
    </AsyncLogger>
  </Loggers>
</Configuration>